html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

header {
    margin: 0;
    padding: 0;
    width: 100%;
    background: url(https://wallpapercave.com/wp/8rXSoZo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
 /*   display: flex;*/
    margin: 0;
}



footer{
    background-color: white;
    margin-top: auto;
    width: 100%;
    z-index: 9999;
}

nav.container{
   text-align: center;
   display: flex;
   justify-content: center;
   width: 100%;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size:  x-large;
}

nav ul li a:hover {
    color: blue;
}

h1 {
    font: 90px 'opensans-bold', sans-sarif;
}

h2 {
    font: 90px;
    text-decoration: underline;
}

.banner{
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: darkblue;
}
 
.social-links{
    list-style: none;
    padding: 0;
    display: flex;
    margin-left: 865px;
}

.social-links li{
    margin-right: 10px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

li{
    margin-right: 10px;
}

.row {
    width: 96%;
    max-width: 1020px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

#about{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: slategray;
}

.profile-pic{
    float: left;
    width: 30%;
    height: 60%;
    border-radius: 50%;
    margin-right: 20px;
}

.column{
    flex: 1;
}
 
#resume{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.education,
.skills,
.projects{
    margin-top: 20px;
    float: left;
    padding-right: 200px;
    margin-left: 90px;
    margin-right: auto;
}

p{
    margin: 0 0 30px 0;
}

.skills h4,
.projects h4{
    margin-left: 550px;
}

.skill-bars{
    background-color: lightgrey;
    height: 50px;
    border-radius: 5px;
    overflow: hidden;
    display: flex; 
    flex-direction: row;
    width: 500px;
    margin-left: 550px;
    margin-bottom: 20px;
}

.skill-level{
    background-color: slategray;
    height: 100%;
}

.project-bullets {
    list-style: disc;
    display: none;
    list-style-position: inside;
    display: block;
    text-align: justify;
    margin-bottom: 200px;
    margin-left: 550px;
    width: auto;
    float: none;
}

h5{
    margin-left: 550px;
    font-family: 'librebaskerville-italic', sarif;
}